.element {
  width: 200px;
  height: 200px;
  background: #e4e4e4;
  /* will-change: transform; */
  transform: translateY(0px);
  transition: transform .3s ease-in;
}
.element-1 {
  width: 200px;
  height: 200px;
  background: #999999;
}

.expended {
  /* will-change: transform; */
  transform: translateY(200px);
  transition: transform .3s ease-in;
}

#btn {
  position: absolute;
  right: 20px;
  top: 500px;
}